NODE_ENV=development

PORT=3001
HOST=localhost
CLIENT_URL=
ALLOWED_REDIRECT_ORIGINS=

CORS_ORIGIN=*
SWAGGER_ENABLED=true

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=reconxi_user
DATABASE_PASSWORD=reconxi_password
DATABASE_NAME=reconxi_db
DATABASE_SYNC=false
DATABASE_LOGGING=false
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DEFAULT_TTL=900
